 * {
    margin: 0;
    padding: 0;
}

.search_container {
    background-color: #f0f0f0;
    position: absolute;
    top: 0;
    right: 0;
    width: 71%;
    height: 18%;
    display: flex;
    flex-direction: column;
    padding: 1.5%;
  }
  
  .current_container {
    background-color: #d0d0d0;
    position: absolute;
    top: 0;
    left: 0;
    width: 26%;
    height: 24%;
    padding: .5%;
  }
  
  .bottomleft_container {
    background-color: #a0a0a0;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 27%;
    height: 75%;
  }
  
  .bottomright_container {
    background-color: #808080;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 73%;
    height: 80%;
  }


//search bar div



//layout

.forecast_container {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 75%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

.min_container,
.max_container {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.weekday_container {
    height: 100%;
    width: 74%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}




.weekday_container > div,
.min_container > div,
.max_container > div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5%;
    height: 100%;
    box-sizing: border-box;
    background-color: red;
}


//switch function 


#switch_temperature,
#min_label,
#max_label {
    height: 50%!important;
}


//search container
.search_forecast{
    display: flex;
    flex-direction: row;
    height: 80%;
    align-items: end;
    justify-content: space-around;
    font-size: max(2vw, 15px);
    align-items: flex-end;
}

.search_forecast > div {
    background-color: goldenrod;
    text-align: center;
    display: flex;
    flex-direction: column-reverse;  
    height: 80%; 
}

.labels_in_search {
    font-weight: bold;
}

//current div

.current_information {
    display: flex;
    flex-direction: column;
    margin-left: 16vw;
}

.location_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;

}

#description,
#forecast {
    align-self: flex-end;
    font-size: 2.5vh;
}

.location {
    font-size: 3vw;
    font-weight: 700;
}

.date {
    font-size: 3vh;
}

.time {
    font-size: 2vh;
}

.temperature {
    font-size: 6vw;
    position: absolute;
    top: 40%;
    left: 5%;
    width: 50%;
}

//forecast Divs
.min_container > div,
.max_container > div {
    font-weight: 800;
    font-size: max(3.5vw, 15px);
}

.weekday_container > div {
    font-weight: 1000;
    font-size: max(3.5vw, 15px);
}